header {
  background-color: var(--black_light);
  padding: 14px 0;

  @media (min-width:767px) {
    padding: 20px 0;
  }

  .container {
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 1600px) {
      margin: 0 65px;
    }

    @media (max-width: 1280px) {
      margin: 0 40px;
    }

    @media (max-width: 768px) {
      margin: 0 20px;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    svg {
      @media (max-width: 768px) {
        width: 58.28px;
        height: 31.57px;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;

    @media (min-width: 1600px) {
      margin-left: 155px;
    }

    @media (min-width: 1280px) {
      margin-left: 110px;
    }

    @media (min-width: 767px) {
      margin-left: 20px;
    }
  }

  .menu {
    &__item {
      position: relative;
      margin-right: 10px;

      @media (max-width: 992px) {
        margin-right: -10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &-link {
        padding: 10px 20px;
        border-radius: 32.5px;
        display: flex;

        &:hover {
          transition: ease 0.5s;
          background: rgba(143, 149, 172);
        }
      }

      &-sub {
        .menu__item-link {
          display: flex;
          align-items: center;
          @extend .arrow;
        }
      }

      &.active {
        .menu__item-link {
          background: var(--red);

          &::after {
            transform: rotate(0);
          }
        }

        .submenu {
          display: block;
        }
      }

      a {
        @extend .h5;
        color: #fff;
        text-decoration: none;
      }

      .submenu {
        display: none;
        position: absolute;
        background-color: var(--black_light);
        padding: 23px 21px 24px 31px;
        border-radius: 9px;
        margin-top: 29px;

        &__line {
          display: flex;
          border-bottom: 0.5px solid rgba(143, 149, 172, 0.5);
          padding: 20px 0;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border: none;
            padding-bottom: 0;
          }
        }

        &__item {
          display: flex;
          width: 210px;
          margin-left: 42px;

          &:first-child {
            margin-left: 0;
          }

          &-text {
            margin-left: 15px;

            p {
              @extend .h5;
              color: #fff;
            }

            span {
              @extend .text;
              color: var(--gray_light);
            }
          }
        }
      }
    }
  }

  &__button {
    @extend .btn;
    min-width: 124px;
    padding: 15px 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: 992px) {
      min-width: 145px;
    }
  }
}
