@font-face {
    font-family: "Formular";
    font-weight: 700;
    src: url("../assets/fonts/Formular-Bold.woff") format("woff"), 
         url("../assets/fonts/Formular-Bold.woff2") format("woff2"),
         url("../assets/fonts/Formular-Bold.ttf");
}

@font-face {
    font-family: "Formular";
    font-weight: 400;
    src: url("../assets/fonts/Formular.woff") format("woff"), 
         url("../assets/fonts/Formular.woff2") format("woff2"),
         url("../assets/fonts/Formular.ttf");
}

@font-face {
    font-family: "Formular";
    font-weight: 300;
    src: url("../assets/fonts/Formular-Light.woff") format("woff"), 
         url("../assets/fonts/Formular-Light.woff2") format("woff2"),
         url("../assets/fonts/Formular-Light.ttf");
}